<app>
  <header>
    <nav>
      <a href="/">home</a>
      <a href="/welcome/anonymous">welcome</a>
      <a href="/nowhere">nowhere</a>
    </nav>
  </header>

  <home if={ this.page == 'home' }></home>
  <welcome if={ this.page == 'welcome' } name={ this.name }></welcome>
  <error404 if={ this.page == 'error404' }></error404>


  <script>
    // Router function to change page.
    this.setPage = (name) => {
      this.page = name
      this.update()
    }

    // Routes.
    page('/', () => this.setPage('home'))

    page('/welcome/:name', (ctx) => {
      this.name = ctx.params.name
      this.setPage('welcome')
    })

    page('*', () => this.setPage('error404'))

    page()
  </script>

  <style>
    header nav a {
      display: inline-block;
      padding: 1rem 2rem;
      margin: 1rem;
      border-bottom: 1px solid #ccc;
      color: #555;
      transition: all .3s;
    }
    header nav a:hover {
      text-decoration: none;
      color: #333;
      border-bottom-color: #888;
      border-bottom-width: .3rem;
      padding-bottom: .7rem;
    }
  </style>
</app>
